/CalculationFormation/nbproject/private/
/CalculationFormation/build/
/JavaParserNoLibrary/nbproject/private/
/JavaParserNoLibrary/build/
/JavaParserNoLibrary/dist/
/KasseProjekt/target/
/asciiConverter/nbproject/private/
/asciiConverter/build/