header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    a,
    button,
    h1 {
        font-family: $font;
        font-weight: 500;
        font-size: 16px;
        color: $textColor;
        text-decoration: none;
    }
    li,
    a {
        font-family: $font;
        font-weight: 500;
        font-size: 19px;
        color: $textColor;
        text-decoration: none;
    }
    .websiteName {
        cursor: pointer;
    }
    .nav__links {
        list-style: none;
    }
    .nav__links li {
        display: inline-block;
        padding: 0px 20px;
    }
    .nav__links li a {
        transition: all 0.3s ease 0s;
    }
    .nav__links li a:hover {
        color: $hoverColor;
    }
    button {
        padding: 9px 25px;
        background-color: $buttonColor;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: $hoverColor;
    }
}