$font: "Montserrat",
sans-serif;
$bgColor: #101a1c;
$hoverColor: #0088a9;
$textColor: #edf0f1;
$buttonColor: #74b8d3;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "./navbar";
@import "./form";
@import "./questions";
@import "./centerContent";
@import "./coding";
@import "./middleBox";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $bgColor;
    font-family: $font;
}