.choices5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .plate {
        border-radius: 10px;
        background-color: $plateColor;
        color: $textColor;
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: $boxShadow;
        .contentInfo {
            display: flex;
            flex-direction: column;
            .back{
                display: flex;
                flex-direction: column;
                align-items:flex-end ;
                padding: 2vh;
                a{
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 15px;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $acent1;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;
                    color: whitesmoke;
                    height: 4.5vh;
                    width: 8%;
                    &:hover {
                        background-color: #2545fa7e;
                    }
                }
            }
            .question {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                p{
                    font-size: 4vh;
                    width: 60%;
                }
            }
            .auswahl {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                margin-top: 10px;
                * {
                    margin: 5px;
                }
                width: 100%;
                .linkbutton {
                    width: 20%;
                    background-color: $acent2;
                    border-radius: 10px;
                    font-size: 25px;
                    cursor: pointer;
                    color: $textColor;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        background-color: rgba(20, 141, 255, 0.788);
                    }
                    border: none;
                    padding: 5px;
                    margin-top: 15px;
                    text-decoration: none;
                }
                .colored{
                    width: 20%;
                    background-color: $acent1;
                    border-radius: 10px;
                    font-size: 25px;
                    cursor: pointer;
                    color: $textColor;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        background-color: #2545fa9d;
                    }
                    border: none;
                    padding: 5px;
                    margin-top: 15px;
                    text-decoration: none;
                    transform: scale(1.2);
                }
            }
        }
    }
}