.cookie{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 25%;
    height: auto;
    border: 4px dotted black;
    padding: 2vh;
    
    *{
        margin: 1vh;
    }
    button{
        cursor: pointer;
        background-color: black;
        border: 0;
        color:white;
        width: 50%;
        height: 6vh;
        border-radius: 5px;
        box-shadow: 10px 10px 0px 0 rgb(192, 192, 192);
        &:hover{
            background-color: rgb(31, 31, 31);
        }
    }
}