.progressBar{
    display: flex;
    flex-direction: column;
    background-color: grey;
    height:10vh;
    width: 100%;
    .progress{
        background-color: red;
        height:10vh;
        width:50%;
    }
}