@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  list-style: none;
}

header .nav__links .link {
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #141620;
  display: inline-block;
  -webkit-transition: -webkit-transform ease 300ms;
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  transition: transform ease 300ms, -webkit-transform ease 300ms;
}

header .nav__links .link a {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

header .nav__links .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .nav__links .linkHighLighted {
  cursor: pointer;
  padding: 2px;
  border-left: solid 3px #2545fa;
  display: inline-block;
  -webkit-transition: -webkit-transform ease 300ms;
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  transition: transform ease 300ms, -webkit-transform ease 300ms;
}

header .nav__links .linkHighLighted a {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

header .nav__links .linkHighLighted:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .websiteName {
  cursor: pointer;
}

header button {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

header button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.coding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coding .plate {
  background-color: #202129;
  border-radius: 10px;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 30px 0 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 30px 0 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
}

.coding .plate .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: 20px;
  padding: 10px;
}

.coding .plate .content2 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}

.coding .plate .content2 .in {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 40vh;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color: white;
  border: 0px;
  font-size: 25px;
  -webkit-box-shadow: -5px 0px 0px 0 #2545fa;
          box-shadow: -5px 0px 0px 0 #2545fa;
}

.coding .plate .content2 .out {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 10vh;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color: white;
  border: 0px;
  font-size: 25px;
  -webkit-box-shadow: -5px 0px 0px 0 #ffffff;
          box-shadow: -5px 0px 0px 0 #ffffff;
}

.coding .plate .content2 p {
  color: #ffffff;
  margin-bottom: auto;
  font-size: large;
}

.coding .plate .content4 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 5vh;
  margin-top: 20px;
}

.coding .plate .content4 .run {
  background-color: #2545fa;
  border: 0px;
  color: #ffffff;
  width: 10%;
  height: 5vh;
  border-radius: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.coding .plate .content4 .run:hover {
  background-color: #2545fa7e;
}

.coding .plate .content4 .nextPage {
  background-color: #f1f5fa;
  border: 0px;
  color: black;
  width: 10%;
  height: 5vh;
  border-radius: 20px;
  margin-left: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
  padding: 15px;
  text-decoration: none;
}

.coding .plate .content4 .nextPage:hover {
  background-color: rgba(241, 245, 250, 0.356);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .plate {
  border-radius: 10px;
  background-color: #202129;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .plate * {
  margin: 10px;
}

.home .plate .contentInfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.home .plate .contentInfo1 * {
  margin: 5px;
}

.home .plate .contentInfo1 .title {
  -webkit-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  transition: transform ease 500ms, -webkit-transform ease 500ms;
}

.home .plate .contentInfo1 .title a {
  text-decoration: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  color: #ffffff;
  font-size: 10vh;
}

.home .plate .contentInfo1 .title:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .plate {
  border-radius: 10px;
  background-color: #202129;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
  color: white;
}

.item .plate .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.item .plate .content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 20vh;
}

.item .plate .content .top a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2545fa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: whitesmoke;
  height: 5vh;
  width: 8%;
}

.item .plate .content .top a:hover {
  background-color: #2545fa7e;
}

.item .plate .content .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.item .plate .content .inputs .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item .plate .content .inputs .range input {
  -webkit-appearance: none;
  width: 100%;
  height: 2vh;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
}

.item .plate .content .inputs .range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2%;
  height: 3vh;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.item .plate .content .inputs .range input::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 2%;
  height: 3vh;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.item .plate .content .inputs .range h2 {
  margin-bottom: 2vh;
}

.item .plate .content .inputs .range .maxmin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2vh;
}

.item .plate .content .inputs a {
  margin-top: 10vh;
  text-decoration: none;
  color: black;
  background-color: white;
  height: 5vh;
  width: 8%;
  border: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item .plate .content .inputs a:hover {
  background-color: #b6b6b6;
}

.choices5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choices5 .plate {
  border-radius: 10px;
  background-color: #202129;
  color: #ffffff;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
}

.choices5 .plate .contentInfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.choices5 .plate .contentInfo1 .question {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.choices5 .plate .contentInfo1 .question p {
  font-size: 30px;
}

.choices5 .plate .contentInfo1 .question a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2545fa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: whitesmoke;
  height: 5vh;
  width: 8%;
}

.choices5 .plate .contentInfo1 .question a:hover {
  background-color: #2545fa7e;
}

.choices5 .plate .contentInfo1 .auswahl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.choices5 .plate .contentInfo1 .auswahl * {
  margin: 5px;
}

.choices5 .plate .contentInfo1 .auswahl .linkbutton {
  width: 20%;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: -webkit-transform ease 300ms;
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  transition: transform ease 300ms, -webkit-transform ease 300ms;
  border: none;
  padding: 5px;
  margin-top: 15px;
  text-decoration: none;
}

.choices5 .plate .contentInfo1 .auswahl .linkbutton:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ausgabe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ausgabe .plate {
  border-radius: 10px;
  background-color: #202129;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
}

.ausgabe .plate .contentInfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #2545fa;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.ausgabe .plate .contentInfo1 * {
  margin: 5px;
}

.ausgabe .plate .contentInfo1 .title {
  color: #ffffff;
}

.ausgabe .plate .contentInfo1 .erklaerung {
  color: #ffffff;
}

.codingTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.codingTest .plate {
  background-color: #202129;
  border-radius: 10px;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 30px 0 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 30px 0 0px 0px 10px 0 rgba(0, 0, 0, 0.205);
}

.codingTest .plate .content1 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.codingTest .plate .content1 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2545fa;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: whitesmoke;
  height: 5vh;
  width: 8%;
}

.codingTest .plate .content1 a:hover {
  background-color: #2545fa7e;
}

.codingTest .plate .content2 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}

.codingTest .plate .content2 .in {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 30vh;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color: white;
  border: 0px;
  font-size: 25px;
  -webkit-box-shadow: -5px 0px 0px 0 #2545fa;
          box-shadow: -5px 0px 0px 0 #2545fa;
}

.codingTest .plate .content2 .out {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 10vh;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color: white;
  border: 0px;
  font-size: 25px;
  -webkit-box-shadow: -5px 0px 0px 0 #ffffff;
          box-shadow: -5px 0px 0px 0 #ffffff;
}

.codingTest .plate .content2 p {
  color: #ffffff;
  margin-bottom: auto;
  font-size: large;
}

.codingTest .plate .content3 {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 5vh;
  margin-top: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.codingTest .plate .content3 .run {
  background-color: #2545fa;
  border: 0px;
  color: #ffffff;
  width: 10%;
  height: 5vh;
  border-radius: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.codingTest .plate .content3 .run:hover {
  background-color: #2545fa7e;
}

.codingTest .plate .content3 a {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
  height: 5vh;
  width: 10%;
}

.codingTest .plate .content3 a:hover {
  background-color: #b6b6b6;
}

.progressBar {
  height: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffffc7;
  font-size: medium;
  border-radius: 0px 0px 10px 10px;
}

.progressBar .progress {
  height: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2545fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: medium;
  border-radius: 0px 10px 10px 10px;
  color: black;
  font-weight: bold;
}

.progressBar .ausgabeProgress {
  height: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2545fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: medium;
  border-radius: 0px 0px 10px 10px;
  color: black;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.parent {
  background-color: #141620;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */