$font: "Montserrat",
sans-serif;
$bgColor: #223955;
$hoverColor: #000000;
$textColor: #ffffff;
$buttonColor:#005AC7;
$plateColor: #0F1F33;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "./navbar";
@import "./coding";
@import "./startingPoint";
@import "./oneToTen";
@import "./5choices";
@import "./ausgabe";
@import "./centerContent";
@import "./code";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}

.parent {
    background-color: $bgColor;
    font-family: $font;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.progressBar{
    height: 3vh;
    display: flex;
    flex-direction: column;
    background-color: #a8a8a8;
    font-size: medium;
    border-radius: 0px 0px 10px 10px;
    .progress{
        height: 3vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        font-size: medium;
        border-radius: 0px 10px 10px 10px;
        color: black;
        font-weight: bold;
    }
    .ausgabeProgress{
        height: 3vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        font-size: medium;
        border-radius: 0px 0px 10px 10px;
        color: black;
        font-weight: bold;
    }
}