$font: "Montserrat",sans-serif;
$codeFont: 'Source Code Pro', monospace;
$bgColor: #141620;
$hoverColor: #000000;
$textColor: #ffffff;
$plateColor: #202129;
$boxShadow:  0px 0px 10px 0 rgba(0, 0, 0, 0.205);
$acent1:#2545fa;
$acent2:rgb(20, 141, 255);
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "./navbar";
@import "./textEditor";
@import "./startingPoint";
@import "./oneToTen";
@import "./5choices";
@import "./ausgabe";
@import "./code";
@import "./progressBar";
@import "./cookie";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}

.parent {
    background-color: $bgColor;
    font-family: $font;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.centerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}