$font: "Montserrat",
sans-serif;
$bgColor: #000000;
$hoverColor: #000000;
$textColor: #ffffff;
$plateColor: #0f0d0d;
$boxShadow: rgba(255, 255, 255, 0.116);
$acent1:#5da3f8;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "./navbar";
@import "./textEditor";
@import "./startingPoint";
@import "./oneToTen";
@import "./5choices";
@import "./ausgabe";
@import "./code";
@import "./progressBar";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}

.parent {
    background-color: $bgColor;
    font-family: $font;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

