.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .plate {
        border-radius: 10px;
        background-color: $plateColor;
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, .3);
        * {
            margin: 10px;
        }
        .contentInfo1 {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background-color: $plateColor;
            width: 40%;
            height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
            * {
                margin: 5px;
            }
            .title {
                color: $textColor;
            }
            .erklaerung {
                color: $textColor;
            }
        }
    }
}