.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .plate {
        border-radius: 10px;
        background-color: $plateColor;
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
        * {
            margin: 10px;
        }
        color: white;
    }
}