.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-weight: 500;
        font-size: 19px;
        color: #edf0f1;
        text-decoration: none;
    }
    a {
        display: inline-block;
        padding: 0px 5px;
    }
    button {
        padding: 7px 25px;
        background-color: #edf0f1;
        color: rgb(5, 8, 8);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
        color: $textColor;
    }
}