@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  list-style: none;
}

header .nav__links li {
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #DFE2EB;
  display: inline-block;
  -webkit-transition: -webkit-transform ease 300ms;
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  transition: transform ease 300ms, -webkit-transform ease 300ms;
}

header .nav__links li a,
header .nav__links li h1 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

header .nav__links li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .websiteName {
  cursor: pointer;
}

header button {
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

header button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.coding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coding .plate {
  border-radius: 10px;
  background-color: #252525;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(61, 61, 61, 0.3);
          box-shadow: 5px 5px 25px 0 rgba(61, 61, 61, 0.3);
}

.coding .plate .title {
  color: white;
}

.coding .plate .codingArea {
  width: 50%;
  height: 40vh;
}

.coding .plate .codingArea .input {
  width: 100%;
  height: 20vh;
}

.coding .plate .codingArea .input textarea {
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  resize: none;
  border: 0px;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.coding .plate .codingArea .output {
  width: 100%;
  height: 20vh;
}

.coding .plate .codingArea .output textarea {
  background-color: #000000;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  resize: none;
  border: 0px;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .plate {
  border-radius: 10px;
  background-color: #F2F5FA;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.3);
}

.home .plate * {
  margin: 10px;
}

.home .plate .contentInfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #F2F5FA;
  width: 40%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.home .plate .contentInfo1 * {
  margin: 5px;
}

.home .plate .contentInfo1 .title {
  color: #000000;
}

.home .plate .contentInfo1 .erklaerung {
  color: #000000;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .plate {
  border-radius: 10px;
  background-color: #F2F5FA;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.3);
  color: white;
}

.item .plate * {
  margin: 10px;
}

.choices5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choices5 .plate {
  border-radius: 10px;
  background-color: #F2F5FA;
  width: 80%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.3);
}

.choices5 .plate * {
  margin: 10px;
}

.choices5 .plate .contentInfo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choices5 .plate .contentInfo1 .question {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 10px;
  font-size: 34px;
}

.choices5 .plate .contentInfo1 .question * {
  margin: 5px;
}

.choices5 .plate .contentInfo1 .auswahl {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 10px;
  font-size: 34px;
}

.choices5 .plate .contentInfo1 .auswahl * {
  margin: 5px;
}

.choices5 .plate .contentInfo1 .auswahl .linkbutton button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.choices5 .plate .contentInfo1 .auswahl .linkbutton button p {
  -webkit-transition: -webkit-transform ease 300ms;
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  transition: transform ease 300ms, -webkit-transform ease 300ms;
}

.choices5 .plate .contentInfo1 .auswahl .linkbutton button p:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  background-color: #DFE2EB;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */