@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

header li,
header a,
header button,
header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header .websiteName {
  cursor: pointer;
}

header .nav__links {
  list-style: none;
}

header .nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

header .nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav__links li a:hover {
  color: #0088a9;
}

header button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question p {
  font-weight: 500;
  font-size: 19px;
  color: #edf0f1;
  text-decoration: none;
}

.question a {
  display: inline-block;
  padding: 0px 5px;
}

.question button {
  padding: 7px 25px;
  background-color: #edf0f1;
  color: #050808;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.question button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  color: #edf0f1;
}

.centerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coding button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  padding: 9px 25px;
  background-color: #1aed07;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.coding textarea {
  background-color: #24252a;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  resize: none;
}

.parent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.staticQuestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.staticQuestions a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.staticQuestions a:hover {
  color: rgba(0, 136, 169, 0.8);
}
/*# sourceMappingURL=styles.css.map */